<!-- blog/templates/blog/duvidas.html -->
{% extends 'blog/base.html' %}

{% block title %}Tire suas Dúvidas - Portal Legal H2{% endblock %}

{% block content %}
<h2>Tire Suas Dúvidas</h2>

<p>Estamos aqui para ajudar! Abaixo, fornecemos respostas para algumas perguntas frequentes:</p>

<h3>1. O que é hidrogênio?</h3>
<p>O hidrogênio é um elemento químico com o símbolo H e número atômico 1. É o elemento mais abundante no universo e
    desempenha um papel importante em várias aplicações, incluindo energia limpa.</p>

<h3>2. Como o hidrogênio é utilizado como fonte de energia?</h3>
<p>O hidrogênio pode ser usado como uma fonte de energia renovável em células de combustível para gerar eletricidade,
    alimentar veículos movidos a hidrogênio e muito mais.</p>

<!-- Adicione mais perguntas e respostas conforme necessário -->
{% endblock %}