<!-- blog/templates/blog/quem_somos.html -->
{% extends 'blog/base.html' %}

{% block title %}Notícias - Portal Legal H2{% endblock %}

{% block content %}
<h2>Notícias</h2>
<p>Esta é a nossa aba de notícias. Aqui voce encontrará as mais novas notícias sobre Hidrogênio</p>
<p>Nossa missão é fornecer notícias relevantes e educativas, para ajudar as pessoas a entenderem melhor o mundo do
    hidrogênio.</p>
<!-- Adicione mais conteúdo específico sobre quem vocês são e qual é a missão da equipe -->
{% endblock %}