<!-- blog/templates/blog/quem_somos.html -->
{% extends 'blog/base.html' %}

{% block title %}Quem Somos - Portal Legal H2{% endblock %}

{% block content %}
<h2>Quem Somos</h2>
<p>Bem-vindo à equipe do Portal Legal H2. Somos apaixonados por compartilhar informações sobre o hidrogênio e suas
    aplicações.</p>
<p>Nossa missão é fornecer conteúdo informativo e educativo para ajudar as pessoas a entenderem melhor o mundo do
    hidrogênio.</p>
<!-- Adicione mais conteúdo específico sobre quem vocês são e qual é a missão da equipe -->
{% endblock %}